@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /* color pallet from https://colors.co */
    --rich-black: #00171fff;
    --prussian-blue: #003459ff;
    --cerulean: #007ea7ff;
    --picton-blue: #00a8e8ff;
    --white: #ffffffff;
}

* {
    position: relative;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: .85em;
    background: var(--white);
}

::-webkit-scrollbar-thumb{
    border-radius: 2em;
    background: var(--cerulean);
}